<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property resource="properties/ds-web-test.properties"/>
    <!--<property name="logLevel" value="INFO"/>
    <property name="logRoot" value="./ds-web-log"/>
    <property name="logDefaultFile" value="info"/>
    <property name="logErrorDefaultFile" value="error"/>-->
    <property name="logAdditivity" value="${logAdditivity}"/>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logLevel}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logRoot}/ds_web_info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/ds_web_info_%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${logRoot}/ds_web_error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/ds_web_error_%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">      
        <encoder>                 
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%t] %c - %m%n</pattern>               
        </encoder>
    </appender>

    <logger name="druid.sql" level="INFO">
        <appender-ref ref="info" />
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="error" />
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="info" />
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="error" />
    </logger>

    <logger name="org.apache.commons.beanutils" level="INFO" additivity="false">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
    </logger>

    <logger name="net.sf.ehcache" level="INFO" additivity="false">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
    </logger>


    <root level="${logLevel}">
        <appender-ref ref="${logDefaultFile}"/>
        <appender-ref ref="${logErrorDefaultFile}"/>
    </root>
</configuration>